# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\2 курс\курсовая по Python\Traffic-Driver---Pygame-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
